<%= form_for @irrational, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @irrational.errors.any? %>
    <div class='alert alert-danger'>
      <% @irrational.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :input, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :input, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                irrationals_path, :class => 'btn' %>
  </div>
<% end %>
